<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      
      </button>
      <span>Our Properties</span>
      <span class="example-spacer"></span>
      <button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add List</button>
      <button type="button" class="btn btn-danger mx-3">Logout</button>
    </mat-toolbar>
  </p>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Our Properties</h1>
        <p class="col-mb-8 fs-4">You can Add Properties Data here Free</p>
        <button type="button" class="btn btn-primary">Add List</button>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Property Title</th>
        <th scope="col">property Price</th>
        <th scope="col">property Location</th>
        <th scope="col">property Detail</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Dummy Data</td>
        <td>Dummy Data</td>
        <td>Dummy Data</td>
        <td>Dummy Data</td>
        <td><button class="btn btn-primary">Edit</button>
            <button class="btn btn-success mx-2" >View</button>
        <button class="btn btn-danger mx-2" >Delete</button></td>
      </tr>
     
    </tbody>
  </table>
  


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Property Record Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...cdsfdvfsfdcxvfbsfbvcvdvd
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>