<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="background-color: gray; color: white;">
                    <h1>Signup Area</h1>
                    <h5>Create Free Account, No Charge</h5>
                </div><hr><br>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter only number" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email id" autocomplete="off">
                    </div>
                    
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                    </div>
                   
                    <button type="submit" class="btn btn-primary" align="center">Signup</button>
                </form><br>
                <a style="text-decoration: none; cursor:pointer; color:blue;" routerLink="/login">Allready Account ? Click to Login</a>

            </div>
        </div>
    </div>
</div>